@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap");

:root {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  --primary: #333333;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--primary);
  box-sizing: border-box;
  margin: auto;
  width: 90vw;
  max-width: 1200px;
}

h1 {
  font-weight: 400;
  margin: 0;
}

input.good {
  color: #008512;
}

input.bad {
  color: #850000;
}
